<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="settings.save()">
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-title size="large">Einstellungen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Zwischenzeiten</ion-label>
        </ion-list-header>

        <ion-item-group *ngFor="let interim of settings?.mySettings?.interims">
            <ion-item-divider>
                <ion-label>{{ interim.name }}</ion-label>
            </ion-item-divider>

            <ion-item [hidden]="interim.trainingTypes.kuppeln.available == false">
                <ion-label>Kuppeln</ion-label>
                <ion-toggle [(ngModel)]="interim.trainingTypes.kuppeln.setting"></ion-toggle>
            </ion-item>
            <ion-item [hidden]="interim.trainingTypes.gesamt.available == false">
                <ion-label>Gesamt</ion-label>
                <ion-toggle [(ngModel)]="interim.trainingTypes.gesamt.setting"></ion-toggle>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>