ion-content {
	--background: var(--ion-color-primary);

	.center {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		h1.seconds {
			color: var(--ion-color-light);
			font-weight: bold;
			font-size: 2.5em;
			font-family: "Nova Mono", monospace;
        }
        
        .interim-wrapper{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            min-height: 35px;
            color: #ffffff;
            font-weight: bold;

            .interim{
                padding: 0px;
                margin: 0px;
                margin-bottom: 10px;

                ion-icon{
                    padding: 7px 0px 7px 12px;
                }
                
                &__name{
                    padding: 7px 0px;
                    flex: 1;
                }

                &__time{
                    color: #fff;
                    background-color: rgba(#ffffff, 0.1);
                    font-weight: bold;
                    padding: 7px 15px 7px 12px;
                    margin-left: 10px;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
            }
        }
	}
}

ion-button[shape="round"] {
	--border-radius: 999em;
	--width: 30px;
	--height: 30px;
	--padding-top: 26px;
	--padding-bottom: 26px;

	margin-top: 10px;
}

ion-footer {
	background: var(--ion-color-primary);
	padding: 20px 20px 0px 20px;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	--border: 0px;

	&:before {
		background-image: none;
	}

	.stop-reset-buttons {
		display: flex;
		justify-content: center;
	}

	.training-settings-pane {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		padding: 0px 0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: #ffffff;
		overflow: hidden;
		height: auto;
		max-height: 600px;
		transition: max-height 500ms ease;

		&--closed {
			overflow: hidden;
			height: 0px;
			max-height: 0px;
		}

		ion-list {
			width: 100%;
		}

		.toggle-buttons-wrapper {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.toggle-button {
				margin: 0px;
				--border-radius: 0em;
				--border-width: 2px 0px 2px 2px;

				&:first-child {
					--border-radius: 999em 0em 0em 999em;
				}

				&:last-child {
					--border-width: 2px;
					--border-radius: 0em 999em 999em 0em;
				}
			}
		}

		ion-fab-button {
			margin-left: 1em;
			width: 3.5em;
			height: 3.5em;

			ion-icon {
				width: 0.9em;
				height: 0.9em;
			}
		}
	}
}